/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2025, 4:34:59 PM
    Author     : Nguyen Hoang Thai Vinh - CE190384
*/

.footer {
    background: #6d28d9;
    color: #fff;
    padding: 24px 0;
    text-align: center;
    margin-top: 48px;
}