/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 21, 2025, 2:55:46 PM
    Author     : Nguyen Hoang Thai Vinh - CE190384
*/

.change-password-container {
    /*max-width: 420px;*/
    margin: 60px auto 0 auto;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 2rem 2rem 2rem;
    position: relative;
}
.change-password-container .icon-lock {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    box-shadow: 0 4px 16px rgba(139,92,246,0.15);
}
.text {
    font-weight: 600;
}

.form-text {
    font-size: 0.95rem;
    color: #888;
}
.error-message {
    color: #dc3545;
    font-size: 0.95rem;
    margin-bottom: 10px;
    display: none;
}
